<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button class="button">Test</button>
<script>
    function getQ() {
        fetch("http://localhost:8080/myprog/tracks", {
            method: "GET",
            headers: {
                "Content-Type": "application/json"
            },

        })
            .then((response) => {
                console.log(response.json())
            })
    }
    document.querySelector(".button").addEventListener("click", function (){
        getQ();
    })
</script>
</body>
</html>